hello{
  color:rgb(46, 174, 248);
}
p {
  font-family: Lato;
  font-size:18px;
  font-weight:500;
  color:#fff;
  padding:7px;
  border-radius:5px;
  background:linear-gradient(-140deg,rgb(67, 159, 245),rgb(241, 83, 255));
}